/* Todo Item */

.todo {
  align-items: center;
  background: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  display: grid;
  gap: 6px;
  grid-template-columns: 38px 2fr 1fr max-content;
  font-size: 16px;
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 0.65rem;
}
.complete-btn,
.edit-btn,
.delete-btn {
  font-size: 24px;
  display: inline-flex;
}
.edit-btn,
.delete-btn {
  margin-left: 6px;
}
.complete-btn {
  color: greenyellow;
}
.delete-btn {
  color: red;
}
.edit-btn {
  color: #209cee;
}
