/* General */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  background: #209cee;
  padding: 20px;
}
main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
button {
  background: transparent;
  border: none;
}
button:focus {
  outline: thin dotted;
}

/* Todo List */

.todo-list {
  background: #e8e8e8;
  border-radius: 4px;
  max-width: 900px;
  min-width: 530px;
  width: 90vw;
  margin: 1.5rem 0;
  padding: 1.5rem;
}

/* Responsive */

@media (max-width: 530px) {
  .todo-list {
    min-width: 300px;
  }
}
